<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<html>
 <body>
   <div class="flex-center">
    <h1 class="header">GramGraph</h1>
    <h2>Showing followers graph of: {{ main_account }}</h2>
    <button>
    {% if prune %}
      <a href="{{ url_for('index')}}">Unprune graph</a>
    {% else %}
      <a href="{{ url_for('index', prune=True)}}">Prune graph</a>
    {% endif %}
    </button>
    <em>Pruned graphs omit any nodes with only one connection</em>
   </div>
  <div id='chart' class='chart'”></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ figure_JSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</html>
